.category-slider {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.arrow {
  background-color: #3333;
  color: #ffff;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.2s;
}

.arrow:hover:not(.disabled) {
  background-color: #5555;
}

.arrow.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.categories-container {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  white-space: nowrap;
  flex-grow: 1;
}