.category-slider {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.categories-container {
  display: flex;
  flex-grow: 1;
  gap: 10px;
  list-style: none;
  padding: 0;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.button-container::-webkit-scrollbar {
  display: none;
}

.category-slider .button-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 70px;
  display: flex;
  align-items: center;
}

.button-container.disabled {
  display: none;
}

.button-container:first-child {
  left: 0;
  background: linear-gradient(90deg, white 70%, transparent);
}

.button-container:last-child {
  right: 0;
  background: linear-gradient(-90deg, white 70%, transparent);
  justify-content: flex-end;
}

.button-container button {
  height: 35px;
  width: 35px;
  text-align: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: white;
}

.button-container button:hover {
  background-color: #d8d5f2;
}

.button-container:first-child button {
  margin-left: 15px;
}

.button-container:last-child button {
  margin-right: 15px;
}